.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(#0b0c10, #0f1e25);
    z-index: 100;
    transition: all 0.75s 3s ease;
}

.container--hidden {
    opacity: 0;
    visibility: hidden;
}

.container p {
    font-size: 1.5rem;
    color: #feffff;
    margin: 10rem 0 0 0;
    position: absolute;
}

.loading {
    width: 120px;
    height: 120px;
    position: relative;
    background: transparent;
    animation: spin 2s linear infinite;
    animation-direction: reverse;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.shape {
    display: block;
    position: absolute;
    height: 20px;
    width: 40px;
    background: #feffff;
    mix-blend-mode: exclusion;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.shape.shape-1 {
    animation: spin1 2s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.shape.shape-2 {
    animation: spin2 2s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.shape.shape-3 {
    animation: spin3 2s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.shape.shape-4 {
    animation: spin4 2s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.shape.shape-1 {
    top: 20px;
    left: 40px;
}

.shape.shape-2 {
    right: 20px;
    top: 40px;
    width: 20px;
    height: 40px;
}

.shape.shape-3 {
    bottom: 20px;
    left: 40px;
}

.shape.shape-4 {
    left: 20px;
    top: 40px;
    width: 20px;
    height: 40px;
}

@keyframes spin {
    0% {
        transform: translateY(0);
        transform: rotate(-90deg);
    }

    50% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateY(0);
        transform: rotate(90deg);
    }
}

@keyframes spin1 {
    25% {
        transform: rotate(90deg) translate(30px, -10px) scaleX(1);
    }
    100% {
        transform: rotate(90deg) translate(30px, -10px) scaleX(2);
    }
}

@keyframes spin2 {
    15% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }
    50% {
        transform: rotate(90deg) translate(10px, 30px) scaleY(1);
    }
    100% {
        transform: rotate(90deg) translate(10px, 30px) scaleY(2);
    }
}

@keyframes spin3 {
    40% {
        transform: rotate(0deg) translate(0px) scaleX(1);
    }
    75% {
        transform: rotate(90deg) translate(-30px, 10px) scaleX(1);
    }
    100% {
        transform: rotate(90deg) translate(-30px, 10px) scaleX(2);
    }
}

@keyframes spin4 {
    65% {
        transform: rotate(0deg) translate(0px) scaleY(1);
    }
    100% {
        transform: rotate(90deg) translate(-10px, -30px) scaleY(2);
    }
}